<div
  class="hero overlay"
  style="background-image: url('assets/images/bg_3.jpg')"
>
  <div class="site-section">
    <div class="container py-5" style="width: 50vw">
      <div class="row">
        <div class="col-lg">
          <form #addMatchForm (ngSubmit)="addMatch()">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Team 1"
                [(ngModel)]="match.equipe1"
                name="teamOne"
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Team 2"
                [(ngModel)]="match.equipe2"
                name="teamTwo"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="date match"
                [(ngModel)]="match.datematch"
                name="datematch"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="heure match"
                [(ngModel)]="match.heurematch"
                name="heurematch"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="lieu match"
                [(ngModel)]="match.lieumatch"
                name="lieumatch"
              />
            </div>
            <div class="form-group">
              <input
                type="number"
                class="form-control"
                placeholder="nb place restant"
                [(ngModel)]="match.nbplacerestant"
                name="nbplacerestant"
              />
            </div>
            <div class="form-group">
              <input
                type="submit"
                class="btn btn-primary py-3 px-5"
                value="Add match"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
